<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
          Recent Chats
        </ion-card-header>
            <ion-list>
                <button ion-item>
                  <ion-avatar item-start>
                    <img src="https://randomuser.me/api/portraits/women/1.jpg">
                  </ion-avatar>
                  <h2>Hana Eberhardt</h2>
                  <ion-note item-end>
                      09:32
                  </ion-note>
                  <p>That science teacher wrote her a letter.</p>
                </button>
                <button ion-item>
                    <ion-avatar item-start>
                      <img src="https://randomuser.me/api/portraits/men/3.jpg">
                    </ion-avatar>
                    <h2>Rosaria Martell</h2>
                    <ion-note item-end>
                        10:50
                    </ion-note>
                    <p>Those photographers lent her a lot of money.</p>
                  </button>
                  <button ion-item>
                      <ion-avatar item-start>
                        <img src="https://randomuser.me/api/portraits/women/3.jpg">
                      </ion-avatar>
                      <h2>Nettie Bellincioni</h2>
                      <ion-note item-end>
                          13:46
                      </ion-note>
                      <p>That garbage man got the TV repaired.</p>
                    </button>
            </ion-list>
      </ion-card>

      <ion-card>
          <ion-card-header>
            Starred Notes
          </ion-card-header>
              <ion-list>
                  <button ion-item>
                    <p>That garbage man surfed.</p>
                    <ion-icon name="arrow-forward" color="default" item-end></ion-icon>
                  </button>
                  <button ion-item>
                      <p>Those plumbers run.</p>
                      <ion-icon name="arrow-forward" color="default" item-end></ion-icon>
                    </button>
              </ion-list>
        </ion-card>

</ion-content>
